#background-body {
  background-image: url('background.jpg'); /* Remplacez par l'URL de votre image */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
