#dashboard-container {
display:flex;
flex-grow: 1;
min-height: 100%;
height: 811px;
}

#sidebar{
background-color: #FFFFFF; /* Couleur de fond de la sidebar */
padding: 15px;
}


#sidebar ul {
  list-style-type: none;
  padding: 0;
}

#sidebar ul li {
  margin-bottom: 15px;
}

#sidebar ul li button,
#sidebar ul li a {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

#sidebar ul li button:hover,
#sidebar ul li a:hover {
  background-color: #0056b3;
}
