.show-hideout {
  width: 100%;

  img {
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
    max-width: 100%;
    min-width: 100%;
  }

}

.carousel {
  border-radius: 10px;
  overflow: hidden;
}

.carousel-inner {
  z-index: 1;
}

.show-hideout-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;

  h2 {
    margin-top: 10px;
  }
}

.text-right {
  text-align: right;
}
