.show-hideout {
  width: 100%;

  img {
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 10px;
  }

}

.show-hideout-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.text-right {
  text-align: right;
}
