// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";


// Your CSS partials
@import "components/index";
@import "pages/index";

.link_to {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  margin-top: 20px;
  margin-bottom: 20px;
  flex: 1;
  align-items: center;
}

body {
  font-family: Hind Vadodara;
}

h2 {
  font-family: Oxygen;
}
